#go2res, #go2quiz{
    float: right;
    text-align: center;
    width: 50%;
    margin-top: 10%;
}

#go2res img, #go2quiz img{
    height: 300px;
}

a{
    color: black;
    text-decoration: none;
}

