.Movies{
    display: block;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.Movies p{
    font-size: 18px;
}

#buttom-center{
    margin-left: 10%;
}

#bar{
    height: 25%;
    overflow: hidden;
    background-color: #7e66a08c;
}

#barPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.barM{
    width: 5%;
    margin-top: 2%;
    float: right;
    margin-right: 1.15%;
}

.barM:hover{
    opacity: 0.7;
}

#movies{
    width: 20%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}


#Movies h1{
    margin-top: 0px; 
    text-align: center;
    background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgba(255, 232, 145, 0.7));
    display: inline-block;
}

#Movies p{
    font-size: 17px;
    margin-top: 4px;
}

#Movies h4{
    margin-top: 8%; 
    text-align: right;
}

.Questions{
    display: block;
    margin: 2% auto;
    border-radius: 5px;
    background-color: white;
    width: 40%;
    height: 60%;
    overflow: hidden;
    text-align: right;
    padding: 1% 2%;
}


form, #leftSide, #rightSide{
    height: 100%;
    overflow: hidden;
    float:right;
}

#leftSide, #rightSide{
    width:15%
}

#rightSide{text-align: left;}

form{
    width:70%;
    padding: 2% 0;
}

.question{
    background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgba(255, 232, 145, 0.7));
    display: inline-block;
}

.stars{
    border: none;
    margin-right: 0.5%;
    width: 3%;
}


#rates{
    display: block;
    height: 8%;
    text-align: center;
    margin:1% 0 auto;
}

#testForm h2{
    margin-bottom: 20px;
    
}


#next, #prev {
    color: black;
    font-size:80px;
    margin-top: 90%;    
}


/*
#finishButton{
	border-radius: 5px;
    padding: 5px 15px 5px 10px;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
    float: left;
}
*/

#error{color: red;}

.buttons{
    border-radius: 5px;
    padding: 5px 8px;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
    margin-right: 3%;
    outline: none;

}

.buttons:hover{
    background-color: #ffde5fc2;
}


#rateButton-love{
    border-radius: 5px;
    padding: 1%;
    float: right;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	border: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
    text-align: center;
    margin-right: 5%;
    width: 15%;
}

#rateButton-hate{
    border-radius: 5px;
    padding: 1%;
    float: right;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	border: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
    text-align: center;
    margin-right: 5%;
    width: 15%;
}

#rateButton-mid{
    border-radius: 5px;
    padding: 1%;
    float: right;
    background-color: #ffde5f;
    box-shadow: 5px 5px #dbba3b;
	border: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
    text-align: center;
    margin-right: 5%;
    width: 15%;
}


 /* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffe891; 
    border-radius: 10px;
}

*{
	font-family:Heebo;
	direction: rtl;
}


